<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /table_fiqh_wanita/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /table_fiqh_wanita/index.html [L]
</IfModule>
