<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /kalkulator_nifas/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /kalkulator_nifas/index.html [L]
</IfModule>
