<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /kalkulator_haid/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /kalkulator_haid/index.html [L]
</IfModule>
